/* Side navigation width */
.sapTntSideNavigation {
    background-color: #f7f7f7;
}

/* Main menu text */
.sapTntNavLIText {
    font-size: 14px;
}

/* Selected item */
.sapTntNavLIItemSelected {
    background-color: #e60012;
    /* Honda red */
    color: white;
}

/* Sub menu item indentation */
.sapTntNavLIGroup {
    padding-left: 12px;
}

/* Content area */
.contentArea {
    padding: 16px;
}

.logo-image {
    color: blue;
    cursor: pointer;
    text-decoration: none;
    width: 23%;
    height: 47%;
}